header {
  padding: 1rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #1f1f1f;
  color: white;
}

.user-insert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 10px;
}

.user-insert-title {
  padding: 10px;
}

.user-insert input {
  width: fit-content;
}
